<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{blog.title}} - {{post.title}}</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<h1>{{post.title}}</h1>
{{{post.html}}}
<p>
<b>Tags</b>:
{{#post.tags}}
  <a href="{{url}}">{{name}}</a>
{{/post.tags}}
</p>

<p>
<a href="/posts">Back to index</a>
</p>
</body>
</html>
